.header {
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
}

.header .container {
  display: flex;
}

.header .img {
  display: block;
}

.header-logo {
  width: 100px;
}

.header-nav-icon {
  margin-left: auto;
}