---
layout: layouts/base.njk
title: Illustration
eleventyNavigation:
  key: illustration 
  title: Illustration 
  order: 2
---

<div class="col-12">
  <h1>Contacto</h1>
  <p>
    La página de illustration.
  </p>

  {% for element in photos %}
    <div class="projet">
      <img src="/assets/images/{{element.photos}}" alt="">
    </div>
  {% endfor %}
</div>