---
layout: layouts/base.njk
title: Illustration
eleventyNavigation:
  key: illustration 
  title: Illustration 
  order: 2
---

<div class="col-12">

  {% for element in photos %}
    {% include 'components/projet.njk'%}
  {% endfor %}
  
  <h1 class="text-title font-2">Illustration</h1>
  <p>
    La página de illustration.
  </p>

</div>