---
layout: layouts/base.njk
title: Illustration
eleventyNavigation:
  key: illustration 
  title: Illustration 
  order: 2
---

<div class="col-6 col-md-5 col-sm-4 col-xs-6">

  {% for element in photos %}
    {% include 'components/projet.njk'%}
  {% endfor %}
</div>

<div class-"col-6 col-md-5 col-sm-4 col-xs-6">
  <h1 class="text-title font-2">Illustration</h1>
  <p>
    La página de illustration.
  </p>

</div>