---
layout: layouts/base.njk
title: Inicio
eleventyNavigation:
  key: index
  title: Home
---
<div class="col-12">
  <h1>Página de inicio</h1>
  <p>
    La página de inicio del proyecto.
  </p>

  <h2 class="text-jumbo"> Text Jumbo </h2>
    <h2 class="text-display"> Text Display </h2>
      <h2 class="text-deadline"> Text Deadline </h2>
  <h2 class="text-title"> Text Title </h2>
    <h2 class="text-subheader"> Text Subheader </h2>
  <h2 class="text-body"> Text Body </h2>
    <h2 class="text-caption"> Text Caption </h2>
  <h2 class="text-note"> Text Note </h2>




</div>
<div class-"col-3 col-md-5 col-sm-4 col-xs-6" style="margin-bottom:20px; background-color: lightgrey;">
</div>
<div class-"col-3 col-md-5 col-sm-4 col-xs-6" style="margin-bottom:20px; background-color: lightgrey;">
</div>
<div class-"col-3 col-md-5 col-sm-4 col-xs-6" style="margin-bottom:20px; background-color: lightgrey;">
</div>
<div class-"col-3 col-md-5 col-sm-4 col-xs-6" style="margin-bottom:20px; background-color: lightgrey;">
</div>