html {
  /* Famille tipográficas */
  --font-1: "Raleway", sans-serif;
  --font-2: "Lato" sans-serif;
  
  /* Variables tipográficas */
  --text-caption: var(--text-xs);
  --text-note: var(--text-x);
  --text-base: var(--text-m);
  --text-subheader: var(--text-2xl);
  --text-title: var(--text-3xl);
  --text-headline: var(--text-4xl);
  --text-display: var(--text-5xl);
  --text-jumbo: var(--text-6xl);
}

@media (max-width: 700px) {
  html {
     /* Variables tipográficas */
  --text-caption: 12px;
  --text-note: 14px;
  --text-base: 16px;
  --text-subheader: 20px;
  --text-title: 24px;
  --text-headline: 36px;
  --text-display: 48px;
  --text-jumbo: 60px;
  }
}