html {
  /* Famille tipográficas */
  --font-1: "Raleway", sans-serif;
  --font-2: "Lato" sans-serif;
  
  /* Variables tipográficas */
  --text-caption: var(--text-xs);
  --text-note: var(--text-x);
  --text-base: var(--text-m);
  --text-subheader: var(--text-2xl);
  --text-title: var(--text-3xl);
  --text-headline: var(--text-4xl);
  --text-display: var(--text-5xl);
  --text-jumbo: var(--text-6xl);
}
